@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

h1,h3,h4{
    text-align: center;
}
#feedback{
    text-align: center;
}
#clock {
    color: #fe4d17;
    font-family: Orbitron;
    letter-spacing: 7px;
}

.form-select{
    overflow: hidden;
    width: auto;
    margin: auto;
}

.opt{
    border-radius: 7px;
    padding: 3px;
    padding-left:13px;
    padding-right:13px ;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
